# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Veri ve model (büyük dosyalar GitHub'a yüklenmesin)
data/raw/
data/train/
data/valid/
data/test/
models/*.pt
!models/.gitkeep
runs/
wandb/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
