# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/


models/*.pt
!models/.gitkeep
runs/
wandb/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
